:root {
  --brand-teal: #069494;
  --brand-navy: #000000;
  --brand-cream: #f0cf8d;
  --brand-coral: #f7a655;
  --brand-dark-teal:  #069494;
}

body {
  background-color: var(--brand-cream);
  color: var(--brand-navy);
}

::selection {
  background: var(--brand-teal);
  color: var(--brand-navy);
  background-color: var(--brand-dark-teal);
}
